@font-face {
  font-family: "Sniglet";
  src: local("Sniglet"),
       url("../media/typefaces/sniglet/Sniglet-webfont.ttf"),
       url("../media/typefaces/sniglet/Sniglet-webfont.woff"),
       url("../media/typefaces/sniglet/Sniglet-webfont.svg");
}
@font-face {
  font-family: "Ostrich Sans Regular";
  src: local("Ostrich Sans Regular"),
       url("../media/typefaces/ostrich_sans/ostrich-sans-regular.ttf"),
       url("../media/typefaces/ostrich_sans/ostrich-sans-regular.woff"),
       url("../media/typefaces/ostrich_sans/ostrich-sans-regular.svg");
}
@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"),
       url("../media/typefaces/orbitron/Orbitron Medium.ttf"),
       url("../media/typefaces/orbitron/Orbitron Medium.otf");
}
@font-face {
  font-family: "League Gothic";
  src: local("League Gothic"),
       url("../media/typefaces/league_gothic/leaguegothic-regular-webfont.ttf"),
       url("../media/typefaces/league_gothic/leaguegothic-regular-webfont.woff"),
       url("../media/typefaces/league_gothic/leaguegothic-regular-webfont.eot"),
       url("../media/typefaces/league_gothic/leaguegothic-regular-webfont.svg");
}


